:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.me-card-product {
  padding: 1rem;
  width: 255px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.image-product {
  height: 100px;
  width: auto;
}